@media (max-width: 640px) {
    .content .inner-content {
        height: auto;
    }
}

.grid-container {
  display: grid;
  flex: 0 0 min-content;

  justify-content: center;

  grid-template-columns: repeat(auto-fit, minmax(193px, 1fr));
  grid-auto-flow: row dense;

  align-items: start;

  row-gap: 1rem;
}

.grid-container .text-shadow {
    filter: drop-shadow(-.75px 1px .5px #848484);
}