@media (max-width: 640px) {
    .content .inner-content {
        height: auto;
    }
}

.grid-container {
  display: grid;
  flex: 0 0 min-content;

  justify-content: center;

  --col-sizes: 193px;
  grid-template-columns: repeat(auto-fit, var(--col-sizes));
  grid-auto-flow: row dense;

  align-items: start;

  row-gap: 1rem;
}
@media (max-width: 449px) {
  .grid-container {
    --col-sizes: minmax(193px, 1fr);
  }
}

.grid-container .text-shadow {
    filter: drop-shadow(-.75px 1px .5px #848484);
}