.navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navlink h6 {
  position: relative;
}
.navlink svg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

a.navlink.btn:hover {
  @apply hover:text-base-content;
}
.navlink.active h6::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 15px;
  height: 2px;
  background-color: currentColor;
}
.navlink.active.btn {
  border-color: var(--fallback-b3,oklch(var(--b3)/var(--tw-border-opacity)));
  background-color: var(--fallback-b3,oklch(var(--b3)/var(--tw-bg-opacity)));
}
@supports (color: color-mix(in oklab, black, black)) {
  .navlink.active.btn {
    background-color: color-mix(in oklab, oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity, 1)) 90%, black );
    border-color: color-mix(in oklab, oklch(var(--btn-color, var(--b2)) / var(--tw-border-opacity, 1)) 90%, black );
  }
}