/* section {
  --h-diff: 12rem;
  min-height: calc(min(1920px, 100vh) - var(--h-diff));
  height: fit-content;
  width: 100%
} */
section {
  min-height: auto;
  height: 100%;
  width: 100%
}

section .inner {
  max-width: 1280px;
}
@media (max-width: 1280px) {
  section .inner {
      max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  section .inner {
      max-width: 768px;
  }
}
@media (max-width: 768px) {
  section .inner {
      max-width: 640px;
  }
}
@media (max-width: 640px) {
  section .inner {
      flex-direction: column;
      max-width: 640px;
  }
  section .inner .content {
      width: auto;
  }
}
