.mc-bust {
  top: calc(50% - 60px);
  left: calc(50% - 49px);

  --shadow-color: #000000;
  filter: drop-shadow(0px 0px 3px var(--shadow-color));
}

[data-theme="light"] .mc-bust {
  --shadow-color: #8e8e8e;
}