.drawer-toggle[type="checkbox"]:checked ~ .drawer-side > .drawer-overlay {
  @apply backdrop-filter backdrop-brightness-[.75];
  background-color: transparent;
}
@media (max-width: 865px) {
  .drawer-side {
    display: grid;
  }
} 
.drawer-side .navlink svg {
  width: 20px;
  height: 20px;
}
.sidebar-filter {
  opacity: 60%;
}
[data-theme="light"] .sidebar-filter {
  opacity: 70%;
}