section .inner {
    max-width: 1024px;
}
@media (max-width: 1179px) {
  section .inner {
    padding: 16px;
  }
}
@media (max-width: 1024px) {
  section .inner {
      max-width: 768px;
  }
}
@media (max-width: 768px) {
  section .inner {
      max-width: 640px;
  }
}
@media (max-width: 640px) {
  section .inner {
      flex-direction: column;
      max-width: 640px;
  }
  section .inner .categories {
      height: min-content;
  }
}
@media (max-width: 640px) {
  section .inner {
    flex-direction: column-reverse;
  }
  section .inner {
    height: auto;
  }
}

section .inner .forum-category {
  display: grid;
  grid-template-columns: repeat(3, 33.3333333%);
  align-items: stretch;
  justify-content: stretch;
  align-content: space-between;
}

section .inner .grid-container {
  display: grid;
  justify-content: center;
  --col-sizes: 193px;
  grid-template-columns: repeat(auto-fit, var(--col-sizes));
  column-gap: 1rem;
  row-gap: 1rem;
}
@media (max-width: 434px) {
  section .inner .grid-container {
    --col-sizes: 100%;
    place-content: stretch;
  }
}