#withNav {
  --h-diff: 11rem;
  min-height: calc(min(1920px, 100vh) - var(--h-diff));
  width: 100%
}

#withNav .inner {
  max-width: 1280px;
}
@media (max-width: 1280px) {
  #withNav .inner {
      max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  #withNav .inner {
      max-width: 768px;
  }
}
@media (max-width: 768px) {
  #withNav .inner {
      max-width: 640px;
  }
}
@media (max-width: 640px) {
  #withNav .inner {
      flex-direction: column;
      width: 100%;
  }
  #withNav .inner .content {
      width: auto;
  }
}
