@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  transition-timing-function: cubic-bezier(0, 0, .25, 1);
  transition-duration: 200ms;
  transition-property: all;
  text-rendering: optimizeLegibility;
}

html {
  scrollbar-color: oklch(var(--p)) oklch(var(--b3));
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: oklch(var(--n));
}
::-webkit-scrollbar-thumb {
  background-color: oklch(var(--p));
}

/* Typography (18px base size, 1.333 ratio) */
/* Header fonts */
h1, h2, h3, h4, h5, h6 {
  @apply font-header;
}
body {
  @apply font-body;
}
strong, .btn {
  @apply font-important;
}
h1 {
  font-size: 3.22rem;
  line-height: 4.25rem;
}
h2 {
  font-size: 2.576rem;
  line-height: 3.22rem;
}
h3 {
  font-size: 2.061rem;
  line-height: 2.576rem;
}
h4 {
  font-size: 1.648rem;
  line-height: 2.061rem;
}
h5 {
  font-size: 1.319rem;
  line-height: 1.648rem;
}
h6 {
  font-size: 1.055rem;
  line-height: 1.319rem;
}
/* Body fonts */
body {
  font-size: 1.055rem;
  line-height: 1.319rem;
}
small {
  font-size: 0.844rem;
  line-height: 1.055rem;
}
small.smaller {
  font-size: 0.675rem;
  line-height: 0.844rem;
}
.btn {
  font-size: inherit;
  line-height: inherit;
}
a {
  @apply hover:text-base-content;
  text-decoration: none;
}

.bg-full {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}