section {
  min-height: min(1920px, 100vh);
  height: fit-content;
  width: 100%
}

.text-rainbow {
  background: linear-gradient(
    90deg,
    oklch(var(--p)) 0%,
    oklch(var(--n)) 50%,
    oklch(var(--s)) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  text-shadow: none;
}

/*#region Navlinks*/
.navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.navlink.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0%;
  transform: translateX(175%);
  width: 15px;
  height: 2px;
  background-color: var(--fallback-bc,oklch(var(--bc)/1));
}
.navlink svg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
/*#endregion*/

/*#region Header*/
header {
  height: 65px;
  transition: top 0.2s ease-in-out;
  position: fixed;
  z-index: 2;
  inset: 0;
}
header.header-up {
  top: -65px !important;
}
@media (max-width: 410px) {
  header .themeToggle {
    display: none;
  }
}
header .navlink {
  @apply hidden md:flex;
}
header .navlink svg {
  margin-right: 7px;
  margin-bottom: 2px;
}
/*#endregion*/

/*#region Footer*/
footer .links {
  margin-right: auto;
  margin-left: auto;
}
footer .links h6 {
  margin-bottom: 10px
}
footer .links a {
  white-space: nowrap;
}
/*#endregion*/