section {
  min-height: min(1920px, 100vh);
  height: fit-content;
  width: 100%
}

/*#region Header*/
header::before {
	content: '';
	position: absolute;
	inset: 0 0 auto 0;
	background: linear-gradient(to bottom, oklch(var(--nc)/.5) 0%, transparent 112%);
	height: 100%;
	z-index: -1;
  backdrop-filter: blur(2px) brightness(75%);
}
header {
  height: 65px;
  width: 100%;
  transition: top 0.2s ease-in-out;
  position: fixed;
  z-index: 2;
  inset: 0;
}
.header-content .dropdown-custom {
  @apply dropdown-end;
  display: none;
}
.header-content .mobile-nav-toggle {
  display: none;
}
@media (max-width: 865px) {
  .header-content .navlink {
    display: none;
  }
  .header-content .mobile-nav-toggle {
    display: inline-flex;
  }
  .header-content .dropdown-custom {
    display: inline-flex;
  }
  .header-content .dropdown-custom .navlink {
    display: inline-flex;
  }
}
@media (max-width: 410px) {
  .header-content .theme-toggle {
    display: none;
  }
  .header-content .dropdown-custom {
    display: none;
  }
}
/*#endregion*/

/*#region Footer*/
@media (max-width: 1179px) {
  footer {
    flex-direction: column;
    align-items: start !important;
    padding: 24px !important;
  }

  footer .links {
    margin: 0;
    padding: 0;
  }
  
  .divisor {
    background-color: var(--fallback-nc,oklch(var(--nc)/.75));
    display: inline-block;
    width: 100%;
    height: 1px;
  }
}
/*#endregion*/