.divisor::before {
  position: absolute;
  inset: 0;
  content: "";
  width: 60%;
  height: 1px;
  margin: 0 auto;
  background: linear-gradient(to right, transparent 0%, oklch(var(--bc)/.25) 50%, transparent 100%);
  transition: opacity .45s cubic-bezier(.6,.6,0,1);
}

/*#region Hero*/
/*#region Logo Rainbow*/
.logo-rainbow {
  transform: scale(1.4);
  margin-top: 10px;

  background: linear-gradient(
    90deg,
    #3232ff -25.3px,
    #9933ff 75.9px,
    #fd32fd 177.1px,
    #ff3198 278.3px,
    #fd32fd 379.5px,
    #9933ff 480.7px,
    #3232ff 581.9px
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  text-shadow: none;
  width: fit-content;

  background-size: 607.2px;
  animation: rainbowMove 3s ease infinite;
}
.logo-rainbow #cloudMask {
  background: linear-gradient(
    90deg,
    #3232ff -161.3px,
    #9933ff -60.1px,
    #fd32fd 41.1px,
    #ff3198 142.3px,
    #fd32fd 243.5px,
    #9933ff 344.7px,
    #3232ff 445.9px
  );
  mask-image: url('/svg/cloud.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 1em 1em;
  height: 1em;
  width: 1em;
  
  background-size: 607.2px;
  animation: rainbowMove 3s ease infinite;
}
@keyframes rainbowMove {
  0%,
  to {
    background-position:-303.6px 50%
  }
  50% {
    background-position:0px 50%
  }
}
/*#endregion*/
#hero {
  background-position: fixed;
  background-size: cover;
  background-image: url('/img/hero.gif');
  background-repeat: no-repeat;
}
#hero .bg-grad-filter {
  backdrop-filter: blur(2px);
}
[data-theme="light"] #hero .bg-grad-filter {
  backdrop-filter: blur(2px) brightness(145%);
}
#hero > * {
  z-index: 1;
}
#hero .arrow {
  animation: float 2s infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}
/*#endregion*/
