/*#region Header*/
header .bg-img {
  background-image: url('/img/header-bg.png');
}

header .inner::before {
	content: '';
	position: absolute;
	inset: 0 0 auto 0;
  --opacity: .4;
	background: linear-gradient(to bottom, oklch(var(--b1)/var(--opacity)) 0%, transparent 100%);
	height: 112%;
	z-index: -1;
  backdrop-filter: blur(2px);
}
[data-theme="dark"] header .inner::before {
  --opacity: .7;
}
header .inner {
  height: 65px;
  width: 100%;
  transition: top 0.2s ease-in-out;
  position: fixed;
  z-index: 2;
  inset: 0;
}

header .inner .content .dropdown-custom {
  @apply dropdown-end;
  display: none;
}
header .inner .content .mobile-nav-toggle {
  display: none;
}

@media (max-width: 865px) {
  header .inner .content .navlink {
    display: none;
  }
  header .inner .content .mobile-nav-toggle {
    display: inline-flex;
  }
  header .inner .content .dropdown-custom {
    display: inline-flex;
  }
  header .inner .content .dropdown-custom .navlink {
    display: inline-flex;
  }
}
@media (max-width: 410px) {
  header .inner .content .theme-toggle {
    display: none;
  }
  header .inner .content .dropdown-custom {
    display: none;
  }
}
/*#endregion*/

/*#region Footer*/
@media (max-width: 1179px) {
  footer {
    flex-direction: column;
    align-items: start !important;
    padding: 24px !important;
  }

  footer .links {
    margin: 0;
    padding: 0;
  }
  
  .divisor {
    background-color: var(--fallback-nc,oklch(var(--nc)/.75));
    display: inline-block;
    width: 100%;
    height: 1px;
  }
}
/*#endregion*/