section {
  --h-diff: 12rem;
}

section .inner {
  max-width: 1280px;
}
@media (max-width: 1280px) {
  section .inner {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  section .inner {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  section .inner {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  section .inner {
    flex-direction: column;
    max-width: 640px;
  }
  section .inner .categories {
    flex-direction: row;
    justify-content: center;
  }
  section .inner .content {
    margin: 0;
    width: auto;
  }
}