[data-theme="dark"] .content-color {
  @apply text-gray-400;
}
[data-theme="light"] .content-color {
  @apply text-gray-600;
}

.input:focus-within {
  z-index: 2;
}

textarea {
  overflow: hidden; 
  font-size: 1rem;
}

#replyhiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1rem;
}

.ticket-content {
  white-space: pre-line;
  word-wrap: break-word;
}
