/* #region HeaderContent */
.header-content-bg {
  background-image: url('/img/header-bg.png');
}

.text-stroke {
  --thickness: .4px;
  --filter: drop-shadow(0px 0px var(--thickness) rgba(0,0,0,1));
  filter: var(--filter) var(--filter) var(--filter) var(--filter);
}
/* #endregion */